html {
    background-color: #fff;
}
body {
    width: 502px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "MicrosoftYahei", STXihei, hei;
    color: #ffffff;
    background: #141C32;
    /* x轴（）横向隐藏滚动条 */
    overflow-x: hidden;
    /* 点击高亮部分（比如链接）变透明 */
    -webkit-tap-highlight-color: transparent;
}

.nav {
    display: flex;
    margin: 14px 35px;
    font-size: 20px;
    justify-content: space-between;
}

.nav-lift {
    display: flex;

}

.nav-lift-re {
    display: block;
    width: 86px;
    height: 37px;
    border-radius: 5px 5px 5px 5px;
    opacity: 1;
    text-align: center;
}

.nav-lift-duan {
    display: block;
    margin-left: 35px;
    width: 86px;
    height: 37px;
    border-radius: 5px 5px 5px 5px;
    opacity: 1;
    text-align: center;
}
.nav-lift span:hover {
    background: linear-gradient(180deg, #864EFD 0%, rgba(134, 78, 253, 0.74) 98%);
}
.nav i {
    display: block;
    margin-right: 22px;
    font-size: 25px;

}

.hot {
    display: flex;
    flex-wrap: wrap;

}

.hot-nav {
    display: flex;
}

.hot-nav span {
    display: block;
    padding-left: 364px;
    font-size: 18px;
    color: #199FFA;
    margin-top: 45px;
}

.hot-new {
    display: flex;
}

.hot-new-column {
    width: 132px;
    height: 201px;
    background: #252D41;
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    margin-left: 28px;
    margin-top: 18px;
}

.hot-new-column img {
    width: 132px;
    height: 148px;
    border-radius: 32px;
    opacity: 1;
    border: 1px solid #fff;
}

.hot-new-column span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

.partner-blogger {
    padding-top: 19px;
}

.partner-nav {
    display: block;
    padding-left: 364px;
    font-size: 18px;
    color: #199FFA;
    margin-top: 45px;
}

.partner-blogger-one {
    display: flex;
    width: 444px;
    height: 87px;
    background: #252D41;
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 16px;
}

.partner-blogger-one-o {
    font-size: 24px;
    padding-left: 23px;
    line-height: 87px;
    color: #E64949;
}

.partner-blogger-one img {
    width: 55px;
    height: 58px;
    border-radius: 32px;
    border: 1px solid #fff;
    opacity: 1;
    margin-left: 13px;
    margin-top: 13px;
}

.partner-blogger-one-on {
    padding: 13px 23px;
}

.partner-blogger-one-on h4 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.partner-blogger-one-on span {
    display: block;
    padding-top: 5px;
    color: #ADADAD;
    font-size: 14px;
}

.partner-blogger-down {
    display: block;
    width: 88px;
    height: 37px;
    background: linear-gradient(270deg, rgba(97, 204, 252, 0.79) 0%, rgba(228, 150, 240, 0.72) 41%, rgba(242, 162, 181, 0.73) 74%, rgba(249, 184, 100, 0.78) 100%);
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin-top: 24px;
    margin-left: 110px;
}

.service {
    width: 443px;
    height: 258px;
    background: #252D41;
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    margin: 0 auto;
    margin-top: 23px;
}

.service-nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.service-nav span {
    padding-left: 17px;
    font-size: 18px;
    line-height: 26px;
    color: #187FC8;
}

.service-nav p {
    display: block;
    padding-right: 26px;
    font-size: 18px;
}

.service-main {
    display: flex;
    margin-top: 26px;
}

.service-main img {
    margin-left: 17px;
    width: 82px;
    height: 80px;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
}

.main-above {
    padding-left: 8px;
}

.main-above h5 {
    font-size: 22px;
}

.main-above span {
    display: block;
    padding-top: 12px;
    line-height: 20px;
    color: #B8B8B8;
    font-size: 14px;
}

.service-main-btn {
    display: block;
    margin-left: 37px;
    margin-top: 25px;
    width: 84px;
    height: 36px;
    background: linear-gradient(90deg, #C0E5F6 0%, #1368A7 93%);
    border-radius: 6px;
    opacity: 1;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
}

.footer {
    width: 502px;
    height: 71px;
    background-color: #252D41;
    opacity: 1;
}

.footer-menu {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}

.footer-menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.footer-menu li a i {
    font-size: 20px;
}
.footer-menu li a span {
    font-size: 18px;
}
.footer-menu li a span:hover {
    color: #824CF6;
}
.footer-menu .footer-menu-content i {
    font-size: 40px;
}