html {
    background-color: #fff;
}
body {
    width: 500px;
    height: 1064px;
    background: rgba(37, 45, 65, 0.87);
    opacity: 1;
    margin: 0 auto;
}

.banner {
    position: relative;
    width: 500px;
    height: 240px;
    opacity: 1;
}

.banner i {
    position: absolute;
    top: 5px;
    right: 25px;
    color: #ffffff;
    font-size: 18px;
}

.my {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.my img {
    position: absolute;
    top: -35px;
    left: 16px;
    width: 93px;
    height: 91px;
    border-radius: 47px;
    opacity: 1;
}

.my-hot {
    display: flex;
    margin: 8px 120px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
}

.my-hot div {
    width: 110px;
    height: 52px;
    text-align: center;
}

.my-hot div span {
    display: block;
    font-size: 14px;
    color: #aaaaaa;
}

.itself {
    color: #ffffff;
    margin-top: 18px;
    margin-left: 30px;
}

.itself h4 {
    font-size: 24px;
}

.itself p {
    margin-top: 10px;
    width: 379px;
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 26px;
}

.column {
    margin-left: 30px;
}

.column-shop {
    display: flex;
    margin-top: 34px;

    font-size: 24px;
    color: #FFFFFF;
    line-height: 35px;
}

.column-shop span {
    display: block;
    padding-right: 53px;
}
.column-shop span:hover {
    color: #7F4BF0 ;
}
.column-tv {
    display: flex;
    width: 202px;
height: 249px;
margin-top: 23px;
}
.column-tv img {
    margin-right: 19px;
}



.footer {
    width: 500px;
    height: 71px;
    background-color:#252D41;
    opacity: 1;
    margin-top: 299px;
    
}

.footer-menu {
    display: flex;
    justify-content: space-around;
padding-top: 12px;

}

.footer-menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.footer-menu li a i {
    font-size: 20px;
}
.footer-menu li a span {
    font-size: 18px;
}
.footer-menu li a span:hover {
    color: #824CF6;
}
.footer-menu .footer-menu-content i {
    font-size: 40px;
}

