@font-face {
  font-family: "iconfont"; /* Project id 4018525 */
  src: url('iconfont.woff2?t=1681626741965') format('woff2'),
       url('iconfont.woff?t=1681626741965') format('woff'),
       url('iconfont.ttf?t=1681626741965') format('truetype'),
       url('iconfont.svg?t=1681626741965#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kanshu:before {
  content: "\e6ad";
}

.icon-gengduo1:before {
  content: "\e60c";
}

.icon-31paishexuanzhong:before {
  content: "\e601";
}

.icon-jinrujiantou:before {
  content: "\e8f1";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-icon_shezhi:before {
  content: "\eb8d";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-fenlei:before {
  content: "\e699";
}

.icon-shouye:before {
  content: "\e69a";
}

.icon-wode:before {
  content: "\e69b";
}

.icon-sousuo:before {
  content: "\e69e";
}

.icon-xinxi:before {
  content: "\e6be";
}

.icon-fenxiangfangshi:before {
  content: "\ed2e";
}

.icon-tianjia:before {
  content: "\e61a";
}

.icon-a-tianjiaguanzhuguanzhu:before {
  content: "\e6aa";
}

